@if(loadingFlag){
<app-loader />
}
<main class="row w-100 justify-content-center">
    <section class="col-xl-3 col-lg-3 col-md-6">
        <div class="filter-section d-flex flex-column align-items-center p-5">
            <div class="btn-group" role="group">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {{selectedCategory? selectedCategory.name : 'კატეგორიები'}}
                </button>
                <ul class="dropdown-menu">
                    @for(items of categoryItems; track items){
                    <li>
                        <div class="dropdown-item" (click)="receiveCategory(items)">{{ items.name }}</div>
                    </li>
                    }
                </ul>
            </div>
            <div class="d-flex flex-column">
                <mat-checkbox class="example-margin py-2" [(ngModel)]="nuts">{{nuts?'თხილით':'თხილის
                    გარეშე'}}</mat-checkbox>
                <mat-checkbox class="example-margin pb-2" [(ngModel)]="vegeterian">{{vegeterian?'ვეგეტარიანული':'არა
                    ვეგეტარიანული'}}</mat-checkbox>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {{'სიცხარე: ' + ' ' + spiciness}}
                </button>
                <ul class="dropdown-menu">
                    @for(items of hottnes; track items){
                    <li>
                        <div class="dropdown-item" (click)="receiveHottnes(items)">{{ items }}</div>
                    </li>
                    }
                </ul>
            </div>
            <div class="py-3 row">
                <button type="button" (click)="filter()" class="btn btn-success my-2 px-3">Search</button>
                <button type="button" (click)="clear()" class="btn btn-danger mb-2 px-3">Clear</button>
            </div>
        </div>
    </section>
    <section class="col-xl-9 col-12 d-flex flex-wrap justify-content-center">
        @if(productList && productList.length){
        @for(element of productList; track element){
        <div class="card m-4" style="width: 18rem;">
            <img [src]="element.image" class="card-img-top" [alt]="element.name">
            <div class="card-body">
                <h5 class="card-title">{{element.name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{'კატეგორია: '+element?.categoryName}}</li>
                <li class="list-group-item">
                    {{'სიცხარე: '}}
                    @if(element.spiciness > 0){
                    @for(number of [].constructor(element.spiciness); track number){
                    <svg-icon src="/assets/images/icons/pepper-icon.svg"></svg-icon>
                    }
                    } @else {
                    <img src="/assets/images/icons/no-pepper-icon.png" class="svg-icon">
                    }
                </li>
                <li class="list-group-item d-inline-flex align-items-center">
                    {{'თხილით: '}}
                    <div class="svg-icon ml-3">
                        @if(element.nuts){
                        <svg-icon src="/assets/images/icons/nut-1.svg"></svg-icon>
                        } @else {
                        <img class="svg-icon" src="/assets/images/icons/no-nuts-icon.png">
                        }
                    </div>
                </li>
                <li class="list-group-item d-inline-flex align-items-center">
                    {{'ვეგეტარიანული: '}}
                    <div class="svg-icon ml-3">
                        @if(element.vegeterian){
                        <svg-icon src="/assets/images/icons/vegan-icon.svg"></svg-icon>
                        } @else {
                        <svg-icon src="/assets/images/icons/eggless-icon.svg"></svg-icon>
                        }
                    </div>
                </li>
                <li class="list-group-item">{{'ფასი: '+element.price + ' ლარი'}}</li>
            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-primary px-2" (click)="addToCart(element)">კალათში
                    დამატება</button>
            </div>
        </div>
        }
        } @else {
        <h3>
            {{'მონაცემები არ მოიძებნა'}}
        </h3>
        }
    </section>
</main>