<div>
    <h2>{{ 'კალათში ნივთების რაოდენობა: ' + itemsQuantity }}</h2>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">სურათი</th>
            <th scope="col">სახელი</th>
            <th scope="col">ფასი</th>
            <th scope="col">რაოდენობა</th>
            <th scope="col">ჯამური ფასი</th>
        </tr>
    </thead>
    <tbody>
        @if(cartStorage.length){
        @for(element of cartStorage; track element; let index = $index){
        <tr>
            <th scope="row">{{index + 1}}</th>
            <td><img [src]="element.photoUrl" alt=""></td>
            <td>{{element.name}}</td>
            <td>{{element.price + ' ლარი'}}</td>
            <td>
                <div class="d-inline-flex justify-content-center align-items-center">
                    <svg-icon class="mr-2 svg-icon" (click)="addItem(element)"
                        src="/assets/images/icons/plus-icon.svg"></svg-icon>
                    <div class="px-3">
                        {{element.quantity}}
                    </div>
                    <svg-icon class="ml-2 svg-icon" (click)="removeItem(element)"
                        src="/assets/images/icons/minus-icon.svg"></svg-icon>
                </div>
            </td>
            <td>{{element.price * (element.quantity ?? 1) + ' ლარი'}}</td>
        </tr>
        }} @else {
            <h4>კალათი ცარიელია</h4>
        }
    </tbody>
</table>
<div class="d-flex justify-content-end">
    {{ 'ჯამური ფასი: ' + totalPrice + ' ლარი'}}
</div>
<div class="d-flex justify-content-end">
    <button type="button" (click)="buy()" class="btn btn-success m-2 px-3">შეძენა</button>
    <button type="button" (click)="clearCart()" class="btn btn-danger my-2 px-3">კალათის გასუფთავება</button>

</div>